n8n/update_bot/PUBLICAR_REEL_FB.json
{
  "name": "PUBLICAR_REEL_FB",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "publicar-reel-fb",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-600, 0],
      "id": "reel-webhook-001",
      "name": "Webhook Reel",
      "webhookId": "publicar-reel-fb"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const item = $input.first();\nconst json = item.json ?? {};\nconst body = json.body ?? json;\nconst normalize = (v) => String(v ?? '').trim();\n\nconst accessToken = normalize(body.access_token);\nconst pageId = normalize(body.page_id);\nconst title = normalize(body.title || 'Reel publicitario');\nconst description = normalize(body.description || body.post_text || body.caption || '');\n\nconst binaryKeys = Object.keys(item.binary || {});\nconst hasBinary = binaryKeys.length > 0;\nconst binaryKey = binaryKeys[0] || '';\nconst fileSize = hasBinary && binaryKey ? (item.binary[binaryKey].fileSize || 0) : 0;\n\nif (!accessToken) throw new Error('Se requiere access_token');\nif (!pageId) throw new Error('Se requiere page_id');\nif (!hasBinary) throw new Error('Se requiere un archivo de video');\n\nconst result = { json: { accessToken, pageId, title, description, hasBinary, binaryKey, fileSize } };\nif (hasBinary && binaryKey) {\n  result.binary = {};\n  result.binary.video = item.binary[binaryKey];\n}\nreturn [result];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-300, 0],
      "id": "reel-parse-001",
      "name": "Parsear Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.pageId }}/video_reels",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "upload_phase", "value": "start" },
            { "name": "access_token", "value": "={{ $json.accessToken }}" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "id": "reel-start-001",
      "name": "Fase 1 - Iniciar Upload"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const response = $input.first().json;\nconst parsedData = $('Parsear Request').first().json;\nconst videoId = String(response.video_id || '').trim();\nconst uploadUrl = String(response.upload_url || '').trim();\nif (!videoId || !uploadUrl) throw new Error('Facebook no devolvio video_id o upload_url: ' + JSON.stringify(response));\n\nconst parsedBinary = $('Parsear Request').first().binary;\nlet fileSize = Number(parsedData.fileSize || 0);\nif (!fileSize && parsedBinary && parsedBinary.video) {\n  const b = parsedBinary.video;\n  if (b.fileSize) { fileSize = Number(b.fileSize); }\n  else if (typeof b.data === 'string') { fileSize = Math.floor(b.data.length * 3 / 4); }\n}\n\nconst result = {\n  json: {\n    videoId,\n    uploadUrl,\n    accessToken: parsedData.accessToken,\n    pageId: parsedData.pageId,\n    title: parsedData.title,\n    description: parsedData.description,\n    fileSize: fileSize,\n  }\n};\nif (parsedBinary && parsedBinary.video) {\n  result.binary = { video: parsedBinary.video };\n}\nreturn [result];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 0],
      "id": "reel-extract-001",
      "name": "Extraer Upload URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.uploadUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=OAuth {{ $json.accessToken }}" },
            { "name": "offset", "value": "0" },
            { "name": "Content-Type", "value": "application/octet-stream" }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "video",
        "options": {
          "timeout": 180000,
          "redirect": { "redirect": { "followRedirects": false } },
          "response": { "response": { "neverError": true } }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 0],
      "id": "reel-upload-001",
      "name": "Fase 2 - Subir Video"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Esperar 10 segundos para que Facebook procese el video\nawait new Promise(resolve => setTimeout(resolve, 10000));\n\n// Pasar datos del nodo anterior\nconst extractData = $('Extraer Upload URL').first().json;\nreturn [{ json: extractData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 0],
      "id": "reel-wait-001",
      "name": "Esperar Procesamiento"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.pageId }}/video_reels",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "upload_phase", "value": "finish" },
            { "name": "video_id", "value": "={{ $json.videoId }}" },
            { "name": "title", "value": "={{ $json.title }}" },
            { "name": "description", "value": "={{ $json.description }}" },
            { "name": "access_token", "value": "={{ $json.accessToken }}" }
          ]
        },
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 0],
      "id": "reel-finish-001",
      "name": "Fase 3 - Publicar Reel"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const response = $input.first().json;\nconst videoData = $('Esperar Procesamiento').first().json;\nreturn [{ json: {\n  status: response.success ? 'success' : 'error',\n  post_id: response.post_id || null,\n  video_id: videoData.videoId,\n  page_id: videoData.pageId,\n  title: videoData.title,\n  description: videoData.description,\n  file_size_bytes: videoData.fileSize,\n  published_at: new Date().toISOString(),\n  facebook_response: response,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 0],
      "id": "reel-result-001",
      "name": "Resultado Final"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "X-Workflow", "value": "PUBLICAR_REEL_FB" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1500, 0],
      "id": "reel-respond-001",
      "name": "Responder Webhook"
    }
  ],
  "connections": {
    "Webhook Reel": {
      "main": [[{ "node": "Parsear Request", "type": "main", "index": 0 }]]
    },
    "Parsear Request": {
      "main": [[{ "node": "Fase 1 - Iniciar Upload", "type": "main", "index": 0 }]]
    },
    "Fase 1 - Iniciar Upload": {
      "main": [[{ "node": "Extraer Upload URL", "type": "main", "index": 0 }]]
    },
    "Extraer Upload URL": {
      "main": [[{ "node": "Fase 2 - Subir Video", "type": "main", "index": 0 }]]
    },
    "Fase 2 - Subir Video": {
      "main": [[{ "node": "Esperar Procesamiento", "type": "main", "index": 0 }]]
    },
    "Esperar Procesamiento": {
      "main": [[{ "node": "Fase 3 - Publicar Reel", "type": "main", "index": 0 }]]
    },
    "Fase 3 - Publicar Reel": {
      "main": [[{ "node": "Resultado Final", "type": "main", "index": 0 }]]
    },
    "Resultado Final": {
      "main": [[{ "node": "Responder Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  }
}
