n8n/update_bot/PUBLICAR_REEL_FB.json
{
  "name": "PUBLICAR_REEL_FB",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "publicar-reel-fb",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-600, 0],
      "id": "reel-webhook-001",
      "name": "Webhook Reel",
      "webhookId": "publicar-reel-fb"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const raw = $input.first().json ?? {};\nconst body = raw.body ?? raw;\nconst normalize = (v) => String(v ?? '').trim();\n\nconst accessToken = normalize(body.access_token);\nconst pageId = normalize(body.page_id);\nconst videoUrl = normalize(body.video_url);\nconst videoBase64 = normalize(body.videoBase64);\nconst title = normalize(body.title || 'Reel publicitario');\nconst description = normalize(body.description || body.post_text || body.caption || '');\n\nif (!accessToken) throw new Error('Se requiere access_token');\nif (!pageId) throw new Error('Se requiere page_id');\nif (!videoUrl && !videoBase64) throw new Error('Se requiere video_url o videoBase64');\n\nreturn [{ json: { accessToken, pageId, videoUrl, videoBase64, title, description, hasVideoUrl: !!videoUrl, hasVideoBase64: !!videoBase64 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-300, 0],
      "id": "reel-parse-001",
      "name": "Parsear Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.pageId }}/video_reels",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "upload_phase", "value": "start" },
            { "name": "access_token", "value": "={{ $json.accessToken }}" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "id": "reel-start-001",
      "name": "Fase 1 - Iniciar Upload"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const response = $input.first().json;\nconst parsedData = $('Parsear Request').first().json;\nconst videoId = String(response.video_id || '').trim();\nconst uploadUrl = String(response.upload_url || '').trim();\nif (!videoId || !uploadUrl) throw new Error('Facebook no devolvio video_id o upload_url: ' + JSON.stringify(response));\n\nlet videoBuffer;\nif (parsedData.hasVideoUrl && parsedData.videoUrl) {\n  const resp = await fetch(parsedData.videoUrl);\n  if (!resp.ok) throw new Error('No se pudo descargar video desde URL: ' + resp.status);\n  const arrayBuf = await resp.arrayBuffer();\n  videoBuffer = Buffer.from(arrayBuf);\n} else if (parsedData.hasVideoBase64 && parsedData.videoBase64) {\n  const clean = parsedData.videoBase64.replace(/^data:video\\/\\w+;base64,/, '');\n  videoBuffer = Buffer.from(clean, 'base64');\n} else {\n  throw new Error('No hay video para subir');\n}\n\nreturn {\n  json: {\n    videoId,\n    uploadUrl,\n    accessToken: parsedData.accessToken,\n    pageId: parsedData.pageId,\n    title: parsedData.title,\n    description: parsedData.description,\n    fileSize: videoBuffer.length,\n  },\n  binary: {\n    video: {\n      data: videoBuffer,\n      mimeType: 'video/mp4',\n      fileName: 'reel.mp4',\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 0],
      "id": "reel-prepare-001",
      "name": "Preparar Video Binario"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.uploadUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=OAuth {{ $json.accessToken }}" },
            { "name": "offset", "value": "0" },
            { "name": "file_size", "value": "={{ $json.fileSize }}" }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "video",
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 0],
      "id": "reel-upload-001",
      "name": "Fase 2 - Subir Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Preparar Video Binario').item.json.pageId }}/video_reels",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "upload_phase", "value": "finish" },
            { "name": "video_id", "value": "={{ $('Preparar Video Binario').item.json.videoId }}" },
            { "name": "title", "value": "={{ $('Preparar Video Binario').item.json.title }}" },
            { "name": "description", "value": "={{ $('Preparar Video Binario').item.json.description }}" },
            { "name": "access_token", "value": "={{ $('Preparar Video Binario').item.json.accessToken }}" }
          ]
        },
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 0],
      "id": "reel-finish-001",
      "name": "Fase 3 - Publicar Reel"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const response = $input.first().json;\nconst videoData = $('Preparar Video Binario').first().json;\nreturn [{ json: {\n  status: response.success ? 'success' : 'error',\n  post_id: response.post_id || null,\n  video_id: videoData.videoId,\n  page_id: videoData.pageId,\n  title: videoData.title,\n  description: videoData.description,\n  file_size_bytes: videoData.fileSize,\n  published_at: new Date().toISOString(),\n  facebook_response: response,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 0],
      "id": "reel-result-001",
      "name": "Resultado Final"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "X-Workflow", "value": "PUBLICAR_REEL_FB" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1500, 0],
      "id": "reel-respond-001",
      "name": "Responder Webhook"
    }
  ],
  "connections": {
    "Webhook Reel": {
      "main": [[{ "node": "Parsear Request", "type": "main", "index": 0 }]]
    },
    "Parsear Request": {
      "main": [[{ "node": "Fase 1 - Iniciar Upload", "type": "main", "index": 0 }]]
    },
    "Fase 1 - Iniciar Upload": {
      "main": [[{ "node": "Preparar Video Binario", "type": "main", "index": 0 }]]
    },
    "Preparar Video Binario": {
      "main": [[{ "node": "Fase 2 - Subir Video", "type": "main", "index": 0 }]]
    },
    "Fase 2 - Subir Video": {
      "main": [[{ "node": "Fase 3 - Publicar Reel", "type": "main", "index": 0 }]]
    },
    "Fase 3 - Publicar Reel": {
      "main": [[{ "node": "Resultado Final", "type": "main", "index": 0 }]]
    },
    "Resultado Final": {
      "main": [[{ "node": "Responder Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  }
}
